{% extends "base.html" %}
{% load static %}
{% block page %}

<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            
            <div class="col">

                <form method="POST" id="create_response_form">
                    {% csrf_token %}
                        <h3>
                            Task {{ task.id }}: {{ task.name }}
                        </h3>
                <br>
                <fieldset>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="img_url" class="col-sm-1 col-form-label font-weight-bold">Image URL</label>
                        <div class="col">
                            <input type="text" class="form-control" id="img_url" value="{{ task.img_url }}" disabled>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col">
                            <div class="image-preview" id="imagePreview">
                                <img src="{{ task.img_url }}" alt="" class="image-preview__image" id="previewImage" style="max-width:500px; max-height:500px;">
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    
                    {% if task.status == 'Open' %}
                        <h5>Answer the following questions:</h5>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <label for="ans1" class="col-form-label font-weight-bold">Question 1: {{ task.q1 }}</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="ans1" placeholder="Enter your answer" required>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <label for="ans2" class="col-form-label font-weight-bold">Question 2: {{ task.q2 }}</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="ans2" placeholder="Enter your answer">
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <label for="ans3" class="col-form-label font-weight-bold">Question 3: {{ task.q3 }}</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="ans3" placeholder="Enter your answer">
                            </div>
                            <div class="col-sm-2"></div>
                        </div>

                        </fieldset>
                        <br>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <button id="submit_btn" class="btn btn-primary" type="submit">Submit</button>
                            </div>
                            <div class="col"></div>
                        </div>
                    {% else %}
                        <p>This task is closed. Please contribute to an open task. Thanks!</p>
                    {% endif %}
                </form>
            </div>

            <div class="col-2">
            </div>
    </div>

    <script src="{% static 'js/create_response.js' %}"></script>
{% endblock page %}