{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block page %}

<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            
            <div class="col">
                <h3>
                    Task {{ task.id }}: {{ task.name }}
                </h3>
                <h5>Status: {{ task.status }}</h5> 
                <h5>Date Created: {{ task.date_created }}</h5>
                {% if task.status == "Open" %}<button id="close_task_btn" class="btn btn-danger">Close Task</button>{% endif %}
                {% if task.status == "Closed" %}<button id="reopen_task_btn" class="btn btn-success">Reopen Task</button>{% endif %}
                <fieldset>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="img_url" class="col-sm-1 font-weight-bold">Image URL</label>
                        <span>{{ task.img_url }}</span>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col">
                            <div class="image-preview" id="imagePreview">
                                <img src="{{ task.img_url }}" alt="" class="image-preview__image" id="previewImage" style="max-width:300px; max-height:300px;">
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    
                    
                    <h5>Your 3 questions:</h5>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="q1" class="col-sm-1 font-weight-bold">Question 1</label>
                        <span>{{ task.q1 }}</span>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="q2" class="col-sm-1 font-weight-bold">Question 2</label>
                        <span>{{ task.q2 }}</span>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="q3" class="col-sm-1 font-weight-bold">Question 3</label>
                        <span>{{ task.q3 }}</span>
                        <div class="col-sm-1"></div>
                    </div>

                    <br>
                    <h4>Task Responses:</h4>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="response_url" class="col-sm-2 font-weight-bold">Response URL</label>
                        <span class=""><a href="{% url 'sample_app:create_response' task.id %}">{{ request.get_host }}{% url 'sample_app:create_response' task.id %}</a></span>
                        <div class="col-sm-6">
                            {% if task.status == "Closed" %}<span>Note: Your task is closed.</span>{% endif %}
                            {% if responses_allowed == False %}<span>Note: All requested responses have been submitted.</span>{% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="num_responses" class="col-sm-2 font-weight-bold">Requested Responses</label>
                        <div class="col">
                            <span class="">{{ task.num_responses }}</span>
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="num_responses" class="col-sm-2 font-weight-bold">Completed Responses</label>
                        <div class="col">
                            <span class="">{{ task.num_completed }}</span>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                    <div class="table-width">
                        <table class="task-response-table" id="task_response_table">
                            <thead>
                            <tr>
                                <th scope="col">Response ID</th>
                                <th scope="col">Response - Q1</th>
                                <th scope="col">Response - Q2</th>
                                <th scope="col">Response - Q3</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for response in responses %}
                                <tr>
                                    <td scope="row">{{ response.id }} <a href="{% url 'sample_app:response_details' task.id response.id %}"><i class="primary fas fa-external-link-alt"></i></a></td>
                                    <td>{{ response.ans1 }}</td>
                                    <td>{{ response.ans2 }}</td>
                                    <td>{{ response.ans3 }}</td>
                                    <td>{{ response.created_by }}</td>
                                    <td>{{ response.date_created }}</td>
                                    <td>{{ response.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </fieldset>
                <br>
            </div>

            <div class="col-2">
            </div>
    </div>

    <script src="{% static 'js/task_details.js' %}"></script>
{% endblock page %}