{% extends "base.html" %}
{% load static %}
{% block page %}

<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            
            <div class="col">
                <h3>
                    All My Tasks
                </h3>
                <fieldset>
                    <div class="table-width">
                        <table class="task-response-table" id="task_response_table">
                            <thead>
                            <tr>
                                <th scope="col">Task ID</th>
                                <th scope="col">Task Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Completed Responses</th>
                                <th scope="col">Requested Responses</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.id }}</td>
                                    <td>{{ task.name }} <a href="{% url 'sample_app:task_details' task.id %}"><i class="fas fa-external-link-alt"></i></a></td>
                                    <td>{{ task.description }}</td>
                                    <td>{{ task.num_completed }}</td>
                                    <td>{{ task.num_responses }}</td>
                                    <td>{{ task.date_created }}</td>
                                    <td>{{ task.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </fieldset>
                    <br>
            </div>

            <div class="col-2">
            </div>
    </div>

    <script src="{% static 'js/task_details.js' %}"></script>
{% endblock page %}